
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    /* font-size */
   --body-font: "Roboto", sans-serif;
   --nav-font-size: 1.5rem;
   --nav-font-size1: 1rem;
   --h1-font-size: 7.25rem;
   --h2-font-size: 2.75rem;
   --h3-font-size: 1.75rem;
   --text-font-size: 1rem;
   --text-buttons-font-size: .75rem;
   /* colour */

   --bg-main-color:#ff4c4c;
   --text-detail-colour:#2f3030;
   --colour-gray:#777;
   --colour--black:#050505;
   --colour-nav:#191919;
   --text-colour:white;

}
/* colour */
/* Switch button */
body{
    display:contents;

}
/*================================================================== navbar=============================================================== */
.navbar{
    background-color: var(--colour--black);
}

a.nav{
    color:white
}
a.nav:hover{
    color:#ff4c4c
}
/*================================================================== section 1=============================================================== */
#section1 {
    background-image: linear-gradient(to bottom, var(--colour--black) , var(--colour-nav) , var(--text-detail-colour));
    /* background-image: url("../asset/images/bg-section1.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    color: white; 
}
.text-b,.text-r {
    font-family: var(--body-font);
    font-size: var(--text-font-size);
}
.text-b {
    font-weight: bold;


}
.text-r {
    font-weight: normal;
}
.line {
    font-family: var(--body-font);
    font-size: var(--h1-font-size);
    font-weight: bold;
    text-decoration: var(--bg-main-color) underline;   
    border-right: solid 4px var(--bg-main-color);
    overflow: hidden;
    width: 10ch;
    animation: typewriter 2s steps(10) 0.1s , cursor .5s steps(11) infinite alternate-reverse;
    
}
/* Typing animate */
@keyframes  typewriter {
    0%{width: 0ch;}
    100%{width: 10ch;}  
}
@keyframes cursor{
    0% {border-color: transparent ;}
    100% {border-color: var(--bg-main-color) ;}
}

.social svg{
    margin: 20px 16px 0px 8px;
    fill: #bbb;
}

.social svg:hover{
    fill: var(--bg-main-color);
    width: 24px;
    height: 24px;  
}
.underline{
    width: 144px;
    height: 4px;
    background-color: var(--bg-main-color);
}
.underline1{
    width: 50%;
    height: 4px;
    background-color: var(--bg-main-color);
}
.img-bg img {
    display: flex;
    margin-right: 0px;

}
/*================================================================== section 2 About me=============================================================== */
#section2{
    font-family: var(--body-font);
}
.about-me { text-decoration: var(--bg-main-color) underline; 

}
.info {
    font-weight: bolder;
}
.infodetail {
    font-weight: normal;
}
.text-about-me{
    font-family: var(--body-font);
    font-size: var(--text-font-size);
    font-weight: normal;
}
.button {
    position: absolute;
    display: inline;
    font-family: var(--body-font);
    font-size: var(--text-buttons-font-size);
    font-weight: bold;
    background-color: var(--bg-main-color);
    color: white;
    padding:12px;
    border: solid 1px var(--bg-main-color);
    left: 400px;
    
}


.btn {
    padding: 1em 2.1em 1.1em;

    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #ffffff;
    display: inline-block;
    background: #ff4c4c;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.btn:hover{
    color: #ff4c4c;
    background-color:white;
}

/* เพิ่มเติม css อื่น ๆ ที่ต้องการได้ */

/*================================================================== section 3 skills=============================================================== */

.skill {
    text-decoration: var(--bg-main-color) underline;  
    
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
    background-color: wheat;
}
.icon-skill {
    width: 40px;
    height: 40px;
}
.skillbar {
    border-radius: 50px;
    margin: 0px;
	position:relative;
	display:block;
	width:100%;
	background:#eee;
	height:16px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
    border-radius: 50px;
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {

	height:16px;
	width:0px;
	background:#6adcfa;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border-radius: 50px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:16px;
	line-height:16px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.8);
    border-radius: 50px;
}
/*================================================================== section 4 portfolio =============================================================== */
#section4 {
    background-color: var(--colour-nav);
    color: #ffffff;
}

.portfolio {
    text-decoration: var(--bg-main-color) underline;   
}
.portfolio-thumb img {
    width: 100%;
}
.portfolio-box {
    position: relative; /* เพิ่มตำแหน่งสำหรับการวางตำแหน่งลูก */
}
.portfolio-box .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    padding: 15px;
    transition: all 0.5s; /* เพิ่ม transition สำหรับการเปลี่ยนแปลง */
}
.portfolio-box:hover .hover { 
    opacity: 1;
    visibility: visible;
}
.portfolio-box .hover div {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
a, a:hover, .overlay, img{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
a, a:hover {
    text-decoration: none;
}
img[alt="img"]:hover {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
}
.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 1rem);
}
.modal-content {
    background: transparent;
    border: none;
    text-align: center;
}
.responsive-button {
    padding: 1em 2.1em 1.1em;
    border-radius: 4px;
    margin: 8px;
    color: #ffffff;
    display: inline-block;
    background: #ff4c4c;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border: 1px solid #ff4c4c; /* เพิ่ม border สีแดง */
    cursor: pointer;
    transition: all 0.3s ease;
}

.responsive-button:hover {
    color: #ff4c4c;
    background-color: white;
    border-color: #ff4c4c; /* เปลี่ยน border เป็นสีแดงเมื่อ hover */
}

/*================================================================== section 5 experience =============================================================== */

#section5{
    position: relative;
}

.underline-text {
    text-decoration: underline #ff4c4c;
}
.timeline-items-ed
{
    max-width: 100%;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items-ed::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #191919;
    left: 100%;
}
.timeline-item-ed {
    margin-bottom: 20px;
    width: 100%;
}

.timeline-content-ed {
    text-align: right;
    background-color: #ffffff;
    padding:20px 20px 20px 0px;
    border-radius: 4px;

    margin-top: 10px;
    margin-right: 40px;
    box-shadow:0px 1px 2px   #191919;
}
.timeline-dot-ed {
    width: 16px;
    height: 16px;
    background-color: #191919;
    border-radius: 50%;
    position: absolute;
    left: calc(100% - 7px);
   
}
.timeline-date-ed {
    padding-right: 20px;
    text-align: right;
}
.timeline-items
{
    max-width: 100%;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ff4c4c;
    right: 100%;
 
}
.timeline-item {
    margin-bottom: 20px;
    width: 100%;
}

.timeline-content {
    
    background-color: #ffffff;
    padding:20px 0px 20px 20px;
    border-radius: 4px;
  
    margin-top: 10px;
    margin-left: 40px;
    box-shadow:0px 1px 2px   #ff4c4c;
}
.timeline-dot {
    width: 16px;
    height: 16px;
    background-color: #ff4c4c;
    border-radius: 50%;
    position: absolute;
    right: 99%;
   
}
.timeline-date {
    padding-left: 20px;
    
}

/* ========================================================section6============================================================= */
.servic-box {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid  rgba(0, 0, 0, 0);
    background-color:#191919;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin:10px;
    color: #b1b1b1;
}

.service-title{
    color: #ff4c4c;
    
}
.servic-box:hover{
    color: #ff4c4c;
    background-color:#ffffff;
    transition: 0.3s;
    border: 2px solid #ff4c4c;
}
