
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    /* font-size */
    --title-font:"Roboto Slab", serif;
   --body-font:   "Signika Negative", sans-serif;
   --head-size:6rem;
   --title-size:3.5rem;
   --subhead-size:5rem;
   --subtitle-size:3rem;
   --topic-size:2rem;
   --detail-size:1rem;



   /* colour */

   --bg-main-color:#ff4c4c;;
   --text-detail-colour:#2f3030;
   --colour-gray:#777;
   --colour--black:#050505;
   --colour-nav:#191919;
   --text-colour:white;

}
/* colour */
/* Switch button */
body{
    display:contents;
    font-family: var(--body-font);

}
h2.title {
     font-family: var(--title-font);
     font-size: var(--title-size);
     font-weight: bolder;
     color: var(--bg-main-color);
}
@media (max-width: 992px) {
    h2.title {
        font-family: var(--title-font);
        font-size: var(--subtitle-size);
        font-weight: bolder;
        color: var(--bg-main-color);
   }
}
@media (max-width: 576px) {
    h2.title {
        font-family: var(--title-font);
        font-size: var(--topic-size);
        font-weight: bolder;
        color: var(--bg-main-color);
   }
}


/*================================================================== navbar=============================================================== */

.navbar.navbar-expand-sm {
    
    position: relative;
    transition: background-color 0.3s ease;
}

.nav {
    font-family: var(--body-font);
    font-size: var(--detail-size);
    display: block;
    padding: 20px;
    color: #ffffff; /* สีปกติ */
    text-decoration: none;
    transition: color 0.3s;
    font-weight: lighter;
}

.nav:hover {
    color: var(--bg-main-color); /* สีเมื่อ hover */
}

.nav.active {
    color: var(--bg-main-color); /* สีเมื่อคลิกและคงไว้ */
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-main-color);
    display: none;
    cursor: pointer;
}

button.navbar-toggler {
    stroke: #ffffff;
}
/*================================================================== section 1=============================================================== */
#section1 {
    background-image: linear-gradient(to bottom, var(--colour--black), var(--colour-nav), var(--text-detail-colour));
    /* background-image: url("../asset/images/bg-section1.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    color: white; 
}

.text-b, .text-r {
    font-size: var(--topic-size);
}

.text-b {
    font-weight: bold;
}

.text-r {
    font-weight: normal;
}

.home-typing {
    font-family: var(--title-font);
    font-size: var(--head-size);
    font-weight: bold;
    text-decoration: var(--bg-main-color) underline;
    border-right: solid 4px var(--bg-main-color);
    overflow: hidden;
    width: 12ch;
    animation: typewriter 2s steps(12) 0.1s, cursor .5s steps(13) infinite alternate-reverse;
}

@keyframes typewriter {
    0% { width: 0ch; }
    100% { width: 11ch; }
}

@keyframes cursor {
    0% { border-color: transparent; }
    100% { border-color: var(--bg-main-color); }
}

.social svg {
    margin: 20px 16px 0 8px;
    fill: #bbb;
}

.social svg:hover {
    fill: var(--bg-main-color);
    width: 24px;
    height: 24px;
}

.img-bg img {
    display: flex;
    margin-right: 0;
}


@media (max-width: 768px) {
    p.home-typing {
        font-size: var(--subhead-size);
    }

    .text-b, .text-r {
        font-size: var(--detail-size);
    }
}

@media (max-width: 576px) {
    p.home-typing {
        font-size: var(--topic-size);
    }

    .text-b, .text-r {
        font-size: var(--detail-size);
    }
}


/*================================================================== section 2 About me=============================================================== */

.button {
    position: absolute;
    display: inline;
    font-family: var(--body-font);
    font-size: var(--text-buttons-font-size);
    font-weight: bold;
    background-color: var(--bg-main-color);
    color: white;
    padding:12px;
    border: solid 1px var(--bg-main-color);
    left: 400px;
    
}


.btn {
    padding: 1em 2.1em 1.1em;

    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #ffffff;
    display: inline-block;
    background: var(--bg-main-color);
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.btn:hover{
    color: var(--bg-main-color);
    background-color:white;
}

/* เพิ่มเติม css อื่น ๆ ที่ต้องการได้ */

/*================================================================== section 3 skills=============================================================== */


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
    background-color: wheat;
}
.icon-skill {
    width: 40px;
    height: 40px;
}
.skillbar {
    border-radius: 50px;
    margin: 0px;
	position:relative;
	display:block;
	width:100%;
	background:#eee;
	height:16px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
    border-radius: 50px;
	position:absolute;
	top:0;
	left:8px;
    width:110px;
	font-weight:lighter;
	font-size:13px;
	color:#ffffff;


}

.skillbar-bar {

	height:16px;
	width:0px;
	background:#6adcfa;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border-radius: 50px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:16px;
	line-height:16px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.8);
    border-radius: 50px;
}
/*================================================================== section 4 portfolio =============================================================== */
#section4 {
    background-color: var(--colour-nav);
    color: #ffffff;
}


.portfolio-thumb img {
    width: 100%;
}
.portfolio-box {
    position: relative; /* เพิ่มตำแหน่งสำหรับการวางตำแหน่งลูก */
}
.portfolio-box .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    padding: 15px;
    transition: all 0.5s; /* เพิ่ม transition สำหรับการเปลี่ยนแปลง */
}
.portfolio-box:hover .hover { 
    opacity: 1;
    visibility: visible;
}
.portfolio-box .hover div {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
a, a:hover, .overlay, img{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

img[alt="img"]:hover {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
}
.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 1rem);
}
.modal-content {
    background: transparent;
    border: none;
    text-align: center;
}
.responsive-button {
    padding: 1em 2.1em 1.1em;
    border-radius: 4px;
    margin: 8px;
    color: #ffffff;
    display: inline-block;
    background: var(--bg-main-color);
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border: 1px solid var(--bg-main-color); /* เพิ่ม border สีแดง */
    cursor: pointer;
    transition: all 0.3s ease;
}

.responsive-button:hover {
    color: var(--bg-main-color);
    background-color: white;
    border-color: var(--bg-main-color); /* เปลี่ยน border เป็นสีแดงเมื่อ hover */
}

/*================================================================== section 5 experience =============================================================== */

#section5{
    position: relative;
}


.timeline-items-ed
{
    max-width: 100%;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-right: 20px;
}
.timeline-items-ed::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;

    left: 100%;
}
.timeline-item-ed {
    margin-bottom: 20px;
    width: 100%;

}

.timeline-content-ed {
    text-align: right;
    background-color: #ffffff;
    padding:20px 20px 20px 0px;

    margin-top: 10px;
    margin-right: 40px;
    border-right:2px solid var(--colour-nav);

}
.timeline-dot-ed {
    width: 16px;
    height: 16px;

    border-radius: 50%;
    position: absolute;
    left: calc(100% - 7px);
   
}
.timeline-date-ed {
    font-weight: bolder;
    text-align: right;
}
.timeline-items
{
    max-width: 100%;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: var(--bg-main-color);

}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;

    right: 100%;
 
}
.timeline-item {
    margin-bottom: 20px;
    width: 100%;
}

.timeline-content {
    
    background-color: #ffffff;
    padding:20px 0px 20px 20px;

  
    margin-top: 10px;
    margin-left: 40px;
    border-left:2px solid var(--bg-main-color);

}

.timeline-date {
    font-weight: bolder;
    padding-left: 20px;
    
}

/* ========================================================section6============================================================= */


.servic-box {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px var(--colour-nav);
    margin:10px;
    color:var(--colour-nav);

}

.service-title{
    color: var(--bg-main-color);
    
}
.servic-box:hover{
    transition: 0.6s;
    box-shadow: 0px 0px 12px 0px var(--colour-nav);
}


/* section7 */
#section7 {
    background-color: #191919;
    padding: 50px 0;
}

.section7 {
    text-align: center;
}

.title {
    margin-bottom: 20px;
    color: #ffffff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 10px; /* Adjust the spacing between icons */
}

.contact-details {
    display: flex;
    justify-content: center;
}

.contact-details > span.contact-me {
    text-align: center;
    margin: 20px 20px;
    color: #ffffff; /* Adjust the spacing between contact details */
}

.contact-details > span > a {
    text-align: center;
    margin:8px;
    color: var(--bg-main-color);
    /* Adjust the spacing between contact details */
}

/* section7 */
#section7 {
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
